name: Selenium Test

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Install Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
          
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install selenium

      - name: Install Firefox
        run: |
          sudo apt update
          sudo apt install -y firefox

      - name: Install geckodriver
        run: |
          wget https://api.github.com/repos/mozilla/geckodriver/releases/202267170-linux64.tar.gz
          tar -xvzf 202267170-linux64.tar.gz
          sudo mv geckodriver /usr/local/bin/
          
      - name: Run Selenium
        run: |
          python tests/test.py
