name: Selenium Test

on:
  workflow_run:
    workflows: ["Deploy"]   # <--- name of deploy.yml workflow
    types:
      - completed 

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Install Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
          
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install selenium

      - name: Install Firefox
        run: |
          sudo apt update
          sudo apt install -y firefox

      - name: Install geckodriver
        run: |
          wget https://github.com/mozilla/geckodriver/releases/download/v0.36.0/geckodriver-v0.36.0-linux-aarch64.tar.gz
          tar -xvzf geckodriver-v0.36.0-linux-aarch64.tar.gz
          sudo mv geckodriver /usr/local/bin/
          
      - name: Run Selenium
        run: |
          python tests/test.py
